.container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form {
  width: 100%;
}

.link {
  text-align: center;
  display: block;
  margin-top: 10px;
  color: #4a90e2;
  text-decoration: none;
}

.MuiInputBase-root {
  background-color: #fff;
  border-radius: 4px;
}


.MuiButton-contained {
  background-color: #4a90e2;
  transition: background-color 0.3s;
}

.MuiButton-contained:hover {
  background-color: #357abd;
}